* {
	margin: 0;
}

html, body {
	height: 100%;
}

.page_wrap {
	min-height: 100%;
	margin-bottom: -36px;
}

.page_wrap:after {
  content: "";
  display: block;
}

.footer, .page_wrap:after {
  height: 36px; 
}

.logo {
	position: relative;
	width: 280px;
	margin: 0 auto;
}

.logo_subtext {
	font-family: 'Roboto', sans-serif;
	color: #4285f4;
	position: absolute;
	top: 75px;
	left: 215px;
}

.search_form{
	width: 600px;
	margin: 0 auto;
	margin-top: 30px;
}

.search_buttons {
	width: 306px;
	margin: 0 auto;
	margin-top: 25px;
}

input[type=text] {
	box-sizing: border-box;
	outline: none;
	width: 600px;
	height: 36px;
	border: 1px solid rgb(217, 217, 217);
	font-family: arial, sans-serif;
	font-size: 16px;
	padding-left: 15px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: 99% 50%;
	padding-right: 35px;
}

input[type=submit] {
	-webkit-appearance: none;
	height: 36px;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: rgb(117,117,117);
	background-color: #f2f2f2;
	padding: 0 16px;
	border: 1px solid #f2f2f2;
	margin: 0 4px;
	border-radius: 2px;
}

input[type=submit]:hover {
	-webkit-appearance: none;
	color: black;
	border: 1px solid rgb(198, 198, 198);
}

input[type=text]:hover {
	border: 1px solid rgb(185, 185, 185);
}

input[type=text]:focus {
	border: 1px solid #4d90fe;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

.li_head {
	float: right;
	padding-right: 15px;
	padding-top: 20px;	
}

.header {
	height: 89px;
}

.google_page {
	margin-top: 109px;
}

a {
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: rgb(34, 34, 34);
	opacity: 0.75;
}

a:hover {
    text-decoration: underline;
    color: rgb(0,0,0);
}

.icone_cloche {
	display: block;
	background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/390392-200.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
}

.icone_app {
	display: block;
	background-image: url('http://www.englewoodschools.net/cms/lib8/CO01900647/Centricity/Domain/1009/GoogleAppsIcon.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
}

.icone_login {
	display: block;
	background-image: url('https://www.accrinet.com/images/3030_orig.png');
	background-repeat: no-repeat;
	background-size: 35px 35px;
	width: 35px;
	height: 35px;
}

.li_login {
	padding-top: 13px;
}

.footer {
	width: auto;
	background-color: #f2f2f2;
	border-top: 1px solid rgb(228,228,228);
}

.li_left {
	margin-left: 30px;
}

.ul_left {
	margin-top: 10px;
	width: 300px;
}

.ul_right {
	position: absolute;
	right: 0;
	bottom: 0;
}

.li_right {
	float: right;
	padding-right: 30px;
}
